body {
    font-family: Arial, sans-serif;
    font-weight: 400;
  }
  
  .logo-al {
    margin-left: 45px;
  }
  
  .link a {
    padding: 30px 0 0 80px ;
    padding-bottom: 0;
    display: inline-block;
    text-decoration: none;
    color: rgb(73, 73, 236);
  }
  
  /* unvisited link */
  a:link {
    color: rgb(73, 73, 236);
  }
  /* visited link */
  a:visited {
    color:  rgb(73, 73, 236);
  }
  
  /* mouse over link */
  a:hover {
    color: #F47522;
  }
  
  /* selected link */
  a:active {
    color:#F47522;
  }
  
  .section-header {
    background-image: url("../img/img-header.png");
    background-size: cover;
    height: 515px;
    background-repeat: no-repeat;
    text-align: center;
    color: white;
    padding: 50px 0;
    margin-bottom: 50px;
  }
  
  .section-header .foto {
    border-radius: 50%;
    height: 174px;
    width: 174px;
    background-position-x: 530px;
    background-position-y: 145px;
  }
  
  .btn-primary-about {
    background-color: #F47522;
    border-radius: 10px;
    border: none;
    height: 53px;
    width: 192px;
    vertical-align: middle;
  }
  
  #row2 a .download {
    background-color: orange;
    color: white;
    line-height: 24;
  }
  
  #About {
    color:#F47522;
  }
  
  
  .kotak .container {
    border-radius: 10px;
    padding: 50px;
    margin: 50px;
    -webkit-box-shadow: 0px 3px 6px 0px rgba(0,0,0,0.16);
    -moz-box-shadow: 0px 3px 6px 0px rgba(0,0,0,0.16);
    box-shadow: 0px 3px 6px 0px rgba(0,0,0,0.16);
    border: 1px solid rgba(0,0,0,0.16);
  }
  
  #fb {
    text-decoration: none;
  }
  
  .akhir {
    background: #19345E;
    color: white;
    padding: 20px 20px 20px 50px;
    border: #707070 1px;
    height: 207px;
  }
  
  #alterra-bawah {
    width: 133.52px;
    height: 66.17px;
  
  }
  
  .table-kiri {
    width: 20px;
    text-align: left;
  }
  
  span1 {
    color: #F47522;
  }