body {
    font-family: Arial, sans-serif;
    font-weight: 400;
  }
  
  .logo-al {
    padding-top: 2px;
    margin-left: 45px;
    height: 10%;
    width: auto;
  }
  
  .link a {
    padding: 20px 0 0 40px ;
    padding-bottom: 0;
    display: inline-block;
    text-decoration: none;
    color: darkblue;
  }
  
  /* unvisited link */
  a:link {
    color: darkblue;
  }
  /* visited link */
  a:visited {
    color:  darkblue;
  }
  
  /* mouse over link */
  a:hover {
    color: #F47522;
  }
  
  /* selected link */
  a:active {
    color:#F47522;
  }
  
#ini {
  height: 68px;
  background-color: #e6e8ed;
}

.judul {
  margin-top: 8px;
}

#judul_logo {
  font-size: 30px;
  color: darkblue;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 25px;
}

.card {
  width: 39rem;
}

.row {
  margin-right: 15px;
  margin-left: 15px;
}

.kiri {
  padding-left: 64px;
}

.updated {
  color: gray;
  font-size: 13px;
}

.tombol{
  border: black 1px solid;
  border-radius: 20%;
  background-color: orange;
}

.tombol_search {
  border-radius: 10%;
  background-color: antiquewhite;
  padding-left: 25px;
  padding-right: 25px;
}

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.ke_kiri {
  margin-right: 500px;
  position: absolute;
  z-index: 2;
  left: -350px;
  top: 20px;
}

.judul_kategori {
  padding-left: 10px;
  padding-right: 10px;
}

