body {
  margin: 0 auto;
}

button {
  color: white;
  background-color: orangered;
}

.contacts {
  display: table;
  width: 100%;
  height: 100vh; 
}

.kiri, .kanan {
  display: table-cell;
  vertical-align: middle;
  width: 50%;
}

.kiri {
  background-image: linear-gradient(
      rgba(25,52,94,0.6),
      rgba(25,52,94,0.6)), url("../img/side-view.jpg");
  text-align: center;
  background-size: 800px 1100px;
  background-repeat: no-repeat;
  background-size: cover;
}

.kanan{
  padding: 30px 100px;
  font-family: 'Muli', sans-serif;
}


.input-group-text {
  border-right: none;
  background-color: white;
}

.kotak {
  border-left: none;
}

.contacts-button {
  background-color: orangered;
  margin-top: 20%;
  color: white;
  border-radius: 5px;
}


form{
  margin-top: 24px;
  font-size: 14px;
  padding: 5px;
}

.btn-primary {
  height: 53px;
  width: 100%;
  background-color: #F47522;
  border-radius: 10px 10px 10px 10px;
  border: none;
  font: Bold;
  font-size: 16px;
  text-align: center;
}

@media (max-width: 767px){
  .contacts .kanan {
      padding: 20px 10px;
      width: 100%;
      display: block;
  }
}

.bintang {
  color: red;
}