.logo-al {
    margin-left: 5px;
}
.link a {
    padding: 30px 0 0 80px ;
    padding-bottom: 0;
    display: inline-block;
    text-decoration: none;
    color: rgb(73, 73, 236);
}

/* unvisited link */
a:link {
    color: rgb(73, 73, 236);
  }
/* visited link */
a:visited {
    color:  rgb(73, 73, 236);
  }
  
  /* mouse over link */
  a:hover {
    color: #F47522;
  }
  
  /* selected link */
  a:active {
    color:#F47522;
  }


.navbar-top {
    -webkit-box-shadow: 0px 3px 6px 0px rgba(0,0,0,0.16);
    -moz-box-shadow: 0px 3px 6px 0px rgba(0,0,0,0.16);
    box-shadow: 0px 3px 6px 0px rgba(0,0,0,0.16);
    padding: 10px 0 10px 106px;
}

#row2 {
    padding: 20px;
    border-bottom: 2px solid gray;
}

.row3 {
    margin: 0 50px 0 50px;
    padding: 10px;
}

.tengah {
    padding: 40px 20px 60px 20px;
}

.img-gallery {
    font-size: 50px;
    border-radius: 10%;
    margin: 10px;
    width: 305px;
    height: 305px;
    border: 1px solid #ccc;
    float: center;
}

.akhir {
    background: #19345E;
    color: white;
    padding: 20px 20px 20px 50px;
}
    
#alterra-bawah {
    width: 133.52px;
    height: 66.17px;
    
}
    
.table-kiri {
    width: 20px;
}